Source: quickly
Section: python
Priority: extra
Build-Depends: cdbs (>= 0.4.43),
 debhelper (>= 6),
 python-central (>= 0.6.11),
 python-distutils-extra (>= 2.3)
Maintainer: Quickly Developer Team <quickly@lists.launchpad.net>
Standards-Version: 3.8.2
XS-Python-Version: current

Package: quickly
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends},
 ${python:Depends}
Description: build new Ubuntu apps quickly
 Quickly enables for prospective programmer a way to build easily new
 apps for Ubuntu based on templates and other systems for helping them
 write their code in a guided manner. This also includes packaging and
 deploying code.
